<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Case Enclosed!</title>
  </head>
  <body>
  
  <img src = "<%=@image_score%>">
  This Is YOUR Personality In A Phone Case!<br>
  (case closed.)
  
  
   
   
   
  </body>
</html>